## Handling Missing Data

In [6]:
import pandas as pd
data = {
    "Name": ["Alice", None, "Charlie", "David", "Eva", "Frank"],
    "Age": [28, None, 25, 45, 30, 40],
    "Salary": [50000, None, 45000, 80000, 55000, 70000],
    "Performance_Score":[85,None,78,92,88,95]
}
df = pd.DataFrame(data)
print(df)
print(df.isnull())
print(df.isnull().sum())

      Name   Age   Salary  Performance_Score
0    Alice  28.0  50000.0               85.0
1     None   NaN      NaN                NaN
2  Charlie  25.0  45000.0               78.0
3    David  45.0  80000.0               92.0
4      Eva  30.0  55000.0               88.0
5    Frank  40.0  70000.0               95.0
    Name    Age  Salary  Performance_Score
0  False  False   False              False
1   True   True    True               True
2  False  False   False              False
3  False  False   False              False
4  False  False   False              False
5  False  False   False              False
Name                 1
Age                  1
Salary               1
Performance_Score    1
dtype: int64

# Handling missing values

In [ ]:
#dropna()
df.dropna(axis=0,inplace=True)
df.dropna(axis=1,inplace=True)
print(df)

      Name   Age   Salary  Performance_Score
0    Alice  28.0  50000.0               85.0
2  Charlie  25.0  45000.0               78.0
3    David  45.0  80000.0               92.0
4      Eva  30.0  55000.0               88.0
5    Frank  40.0  70000.0               95.0
      Name   Age   Salary  Performance_Score
0    Alice  28.0  50000.0               85.0
2  Charlie  25.0  45000.0               78.0
3    David  45.0  80000.0               92.0
4      Eva  30.0  55000.0               88.0
5    Frank  40.0  70000.0               95.0

# Filling missing values

In [16]:
#fillna()
#fillna(value,inplace=True)
data = {
    "Name": ["Alice", None, "Charlie", "David", "Eva", "Frank"],
    "Age": [28, None, 25, 45, 30, 40],
    "Salary": [50000, None, 45000, 80000, 55000, 70000],
    "Performance_Score":[85,None,78,92,88,95]
}
df = pd.DataFrame(data)
# df.fillna(0,inplace=True)
df["Age"].fillna(df["Age"].mean(),inplace=True)
df["Salary"].fillna(df["Salary"].mean(),inplace=True)
print(df)

      Name   Age   Salary  Performance_Score
0    Alice  28.0  50000.0               85.0
1     None  33.6  60000.0                NaN
2  Charlie  25.0  45000.0               78.0
3    David  45.0  80000.0               92.0
4      Eva  30.0  55000.0               88.0
5    Frank  40.0  70000.0               95.0

C:\Users\vishankh\AppData\Local\Temp\ipykernel_2440\2766339530.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(),inplace=True)
C:\Users\vishankh\AppData\Local\Temp\ipykernel_2440\2766339530.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(df["Salary"].mean(),inplace=True)

# InterPolation

In [2]:
data = {
    "Name": ["Alice", None, "Charlie", "David", "Eva", "Frank"],
    "Age": [28, None, 25, 45, 30, 40],
    "Salary": [50000, None, 45000, 80000, 55000, 70000],
    "Performance_Score":[85,None,78,92,88,95]
}
df = pd.DataFrame(data)
print(df)
#linear,polynomial,time
df.interpolate(method="linear",axis=0,inplace=True)
print(df)

NameError: name 'pd' is not defined