"""
    vertically(row-wise)
    horizontally (column wise)


    pd.concat(df1,df2,axis=0,ignore_index=True)

    [df1,df2] = 
    axis=1
    ignore_index = True
"""

In [3]:
#vertically
import pandas as pd
df_Region1 = pd.DataFrame({
    "CustomerId":[1,2],
    "Name":["Gopal","Raju"]
})

#region2
df_Region2 = pd.DataFrame({
    "CustomerId":[3,4],
    "Name":["Shyam","Baburao"]
})


#concatenate vertically 
df_concat = pd.concat([df_Region1,df_Region2],axis=1,ignore_index=True)
print(df_concat)

   0      1  2        3
0  1  Gopal  3    Shyam
1  2   Raju  4  Baburao