In [2]:
import pandas as pd
data = {
    "Name":["Arun","Varun","karun","Narun","Marun"],
    "Age":[28,34,22,34,28],
    "Salary":[50000,60000,45000,52000,48000]
}

df=pd.DataFrame(data)
# grouped = df.groupby("Age")["Salary"].sum()
grouped = df.groupby(["Age","Name"
])["Salary"].sum()
print(grouped)

Age  Name
22   karun    45000
28   Arun     50000
     Marun    48000
34   Narun    52000
     Varun    60000
Name: Salary, dtype: int64