## Sorting

In [3]:
# sorting data in 1 column sort_values()
# df.sort_values(by="Column Name",ascending=True/False,inplace=True)

import pandas as pd
data = {
    "Name":["Arun","Varun","Karun"],
    "Age":[10,20,8],
    "Salary":[10000,20000,30000]
}

df=pd.DataFrame(data)
print("Sorted age by descending")
# df.sort_values(by="Age",ascending=True,inplace=True)
df.sort_values(by=["Age","Salary"],ascending=[True,False],inplace=True)
print(df)

Sorted age by descending
    Name  Age  Salary
2  Karun    8   30000
0   Arun   10   10000
1  Varun   20   20000