## Ading column

In [ ]:
import pandas as pd
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Age": [28, 34, 25, 45, 30, 40],
    "Salary": [50000, 60000, 45000, 80000, 55000, 70000],
    "Performance_Score":[85,90,78,92,88,95]
}
df = pd.DataFrame(data);
print(df);
#square brackets df["column_name" = some_Data]
df["Bonus"] = df["Salary"] * 0.1
print(df)


#using insert()
#df.insert(loc,"column_name",some_data)
df.insert(0,"Employee ID",[100,20,30,40,50,60])
print(df)

#.loc[]
# df.loc[row_index,"column Name"] = new_value
df.loc[0,"Salary"] = 440
print(df)

      Name  Age  Salary  Performance Score
0    Alice   28   50000                 85
1      Bob   34   60000                 90
2  Charlie   25   45000                 78
3    David   45   80000                 92
4      Eva   30   55000                 88
5    Frank   40   70000                 95
      Name  Age  Salary  Performance Score   Bonus
0    Alice   28   50000                 85  5000.0
1      Bob   34   60000                 90  6000.0
2  Charlie   25   45000                 78  4500.0
3    David   45   80000                 92  8000.0
4      Eva   30   55000                 88  5500.0
5    Frank   40   70000                 95  7000.0
   Employee ID     Name  Age  Salary  Performance Score   Bonus
0          100    Alice   28   50000                 85  5000.0
1           20      Bob   34   60000                 90  6000.0
2           30  Charlie   25   45000                 78  4500.0
3           40    David   45   80000                 92  8000.0
4           50      Eva   30   55000                 88  5500.0
5           60    Frank   40   70000                 95  7000.0
   Employee ID     Name  Age  Salary  Performance Score   Bonus
0          100    Alice   28     440                 85  5000.0
1           20      Bob   34   60000                 90  6000.0
2           30  Charlie   25   45000                 78  4500.0
3           40    David   45   80000                 92  8000.0
4           50      Eva   30   55000                 88  5500.0
5           60    Frank   40   70000                 95  7000.0

## Updating

In [4]:
df["Salary"] = df["Salary"] * 1.05
print(df)

   Employee ID     Name  Age   Salary  Performance Score   Bonus
0          100    Alice   28    462.0                 85  5000.0
1           20      Bob   34  63000.0                 90  6000.0
2           30  Charlie   25  47250.0                 78  4500.0
3           40    David   45  84000.0                 92  8000.0
4           50      Eva   30  57750.0                 88  5500.0
5           60    Frank   40  73500.0                 95  7000.0

## Drop method

In [13]:
#df.drop(columns = ["ColumnName"],inplace=True)
# "Performance_Score" column does not exist in the current df, so nothing will be dropped.
# If you want to drop an existing column, for example "Bonus", use:
df.drop(columns=["Performance_Score","Age"], inplace=True, errors='ignore')
print(df)

   Employee ID     Name   Salary   Bonus
0          100    Alice    462.0  5000.0
1           20      Bob  63000.0  6000.0
2           30  Charlie  47250.0  4500.0
3           40    David  84000.0  8000.0
4           50      Eva  57750.0  5500.0
5           60    Frank  73500.0  7000.0

## Explaination

In [ ]:
import pandas as pd

# ===========================
# Data Preparation and Manipulation with Pandas
# ===========================

# Importing pandas library for data manipulation

# -----------------------------------------------
# Creating a DataFrame from a dictionary
# -----------------------------------------------
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Age": [28, 34, 25, 45, 30, 40],
    "Salary": [50000, 60000, 45000, 80000, 55000, 70000],
    "Performance_Score": [85, 90, 78, 92, 88, 95]
}
df = pd.DataFrame(data)
print("Initial DataFrame:")
print(df)

# -----------------------------------------------
# Adding a new column 'Bonus' to the DataFrame
# -----------------------------------------------
# The bonus is calculated as 10% of the Salary
df["Bonus"] = df["Salary"] * 0.1
print("\nDataFrame after adding 'Bonus' column:")
print(df)

# -----------------------------------------------
# Inserting a new column 'Employee ID' at the beginning
# -----------------------------------------------
# Using the insert() method to add 'Employee ID' as the first column
df.insert(0, "Employee ID", [100, 20, 30, 40, 50, 60])
print("\nDataFrame after inserting 'Employee ID' column:")
print(df)

# -----------------------------------------------
# Updating a specific value using .loc[]
# -----------------------------------------------
# Changing the 'Salary' of the first employee (index 0) to 440
df.loc[0, "Salary"] = 440
print("\nDataFrame after updating Salary for first employee:")
print(df)

# ===========================
# Updating Columns
# ===========================

# -----------------------------------------------
# Increasing all salaries by 5%
# -----------------------------------------------
df["Salary"] = df["Salary"] * 1.05
print("\nDataFrame after increasing all salaries by 5%:")
print(df)

# ===========================
# Dropping Columns
# ===========================

# -----------------------------------------------
# Dropping 'Performance_Score' and 'Age' columns if they exist
# -----------------------------------------------
# The errors='ignore' parameter prevents errors if the columns do not exist
df.drop(columns=["Performance_Score", "Age"], inplace=True, errors='ignore')
print("\nDataFrame after dropping 'Performance_Score' and 'Age' columns:")
print(df)