## Getting started with pandas

In [5]:
import pandas as pd

## reading csv file

In [11]:
#read data from CSV file into dataframe

df= pd.read_csv("sales_data_sample.csv",encoding="latin1")
# print(df)

## reading xl file

In [12]:


# df = pd.read_excel("SampleSuperstore.xlsx")
# print(df)

# jf = pd.read_json("sample_Data.json")
# print("json file data")
# print(jf)

## Saving data

In [24]:
# Create a dictionary with sample data
data = {
    "Name": ["Ram", "Shyam", "Ghanshyam"],
    "Age": [10, 20, 30],
    "City": ['"Nagpur', 'Mumbai', 'Delhi']
}

# Convert the dictionary into a pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame to display its contents
print(df)
print(df.info())

# Save the DataFrame to a CSV file named "output.csv"
# df.to_csv("output.csv",index = False) #index hta dia


# Save the DataFrame to an Excel file named "output.xlsx"
# The index parameter is set to False to avoid writing row indices
# df.to_excel("output.xlsx",index = False)

df.to_json("output.json",index = False)

        Name  Age     City
0        Ram   10  "Nagpur
1      Shyam   20   Mumbai
2  Ghanshyam   30    Delhi
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None

## Rows

In [ ]:
#head() tail()
#head() 5 
#tail(n) 5


df = pd.read_json("sample_Data.json")

print("Display 10 rows of first")
print(df.head(10))

print("10 rows of last")
print(df.tail(10))

Display 10 rows of first
   id                                         name  \
0   1                              Apple iPhone 12
1   2                           Samsung Galaxy S21
2   3                           Sony PlayStation 5
3   4            LG OLED55CXPUA 55-inch 4K OLED TV
4   5  Bose QuietComfort 35 II Wireless Headphones
5   6                    Fitbit Versa 3 Smartwatch
6   7                       KitchenAid Stand Mixer
7   8           Dyson V11 Absolute Cordless Vacuum
8   9                   Ninja Foodi Smart XL Grill
9  10              Canon EOS Rebel T8i DSLR Camera

                                         description    price  \
0  The Apple iPhone 12 features a 6.1-inch Super ...   999.00
1  The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00
2  The Sony PlayStation 5 features an AMD Zen 2-b...   499.99
3  The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99
4  The Bose QuietComfort 35 II Wireless Headphone...   299.00
5  The Fitbit Versa 3 Smartwatch features a built...   229.95
6  The KitchenAid Stand Mixer features a 5-quart ...   399.99
7  The Dyson V11 Absolute Cordless Vacuum feature...   699.99
8  The Ninja Foodi Smart XL Grill features 6-in-1...   279.99
9  The Canon EOS Rebel T8i DSLR Camera features a...   899.00

          category                                              image
0      Electronics  https://www.apple.com/newsroom/images/product/...
1      Electronics  https://images.samsung.com/is/image/samsung/p6...
2      Electronics  https://www.sony.com/image/44baa604124b770c824...
3      Electronics  https://www.lg.com/us/images/tvs/md07501804/ga...
4      Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
5      Electronics  https://www.fitbit.com/global/content/dam/fitb...
6   Home & Kitchen  https://www.kitchenaid.com/content/dam/global/...
7  Home Appliances  https://www.dysoncanada.ca/dam/dyson/images/pr...
8   Home & Kitchen  https://www.ninjakitchen.com/medias/Ninja-OP50...
9      Electronics  https://www.canon.com.au/-/media/images/produc...
10 rows of last
    id                                               name  \
10  11                                  Apple AirPods Pro
11  12        Bose QuietComfort 35 II Wireless Headphones
12  13                    Fitbit Charge 4 Fitness Tracker
13  14                              Samsung Galaxy Watch3
14  15  Sony WH-1000XM4 Wireless Noise-Cancelling Head...
15  16          Breville Barista Express Espresso Machine
16  17                        Keurig K-Elite Coffee Maker
17  18                     iRobot Roomba i7+ Robot Vacuum
18  19                   Ninja Foodi Digital Air Fry Oven
19  20                   Cuisinart ICE-70 Ice Cream Maker

                                          description   price        category  \
10  The Apple AirPods Pro feature active noise can...  249.00     Electronics
11  The Bose QuietComfort 35 II Wireless Headphone...  299.00     Electronics
12  The Fitbit Charge 4 Fitness Tracker features G...  129.95     Electronics
13  The Samsung Galaxy Watch3 features a rotating ...  399.99     Electronics
14  The Sony WH-1000XM4 Wireless Noise-Cancelling ...  349.99     Electronics
15  The Breville Barista Express Espresso Machine ...  699.95  Home & Kitchen
16  The Keurig K-Elite Coffee Maker features a str...  169.99  Home & Kitchen
17  The iRobot Roomba i7+ Robot Vacuum features au...  799.99  Home & Kitchen
18  The Ninja Foodi Digital Air Fry Oven features ...  209.99  Home & Kitchen
19  The Cuisinart ICE-70 Ice Cream Maker features ...  139.99  Home & Kitchen

                                                image
10  https://www.apple.com/v/airpods-pro/b/images/m...
11  https://assets.bose.com/content/dam/Bose_DAM/W...
12  https://www.fitbit.com/global/content/dam/fitb...
13  https://images.samsung.com/is/image/samsung/as...
14  https://www.sony.com/image/1cdd6354c4cd21cc4f7...
15  https://www.breville.com/content/dam/breville/...
16  https://www.keurig.com/content/dam/global-ecom...
17  https://store.irobot.com/default/i7-vacuuming-...
18  https://www.ninjakitchen.com/static/img/produc...
19  https://www.cuisinart.com/share/images/product...

## Analysing the data

In [23]:
df=pd.read_json("sample_Data.json")
print("Displaying the info of data set")
print(df.info())

Displaying the info of data set
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   name         20 non-null     object
 2   description  20 non-null     object
 3   price        20 non-null     float64
 4   category     20 non-null     object
 5   image        20 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB
None

## Describe method
The `describe()` method in pandas is used to generate descriptive statistics of a DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values for numeric columns. It provides a quick overview of the distribution and central tendencies of your data.

In [26]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Age": [28, 34, 25, 45, 30, 40],
    "Salary": [50000, 60000, 45000, 80000, 55000, 70000],
    "Performance Score":[85,90,78,92,88,95]
}

df=pd.DataFrame(data)
print("Sample DataFrame")
print(df)
print("Descriptive Statistics")
print(df.describe())

Sample DataFrame
      Name  Age  Salary  Performance Score
0    Alice   28   50000                 85
1      Bob   34   60000                 90
2  Charlie   25   45000                 78
3    David   45   80000                 92
4      Eva   30   55000                 88
5    Frank   40   70000                 95
Descriptive Statistics
             Age       Salary  Performance Score
count   6.000000      6.00000           6.000000
mean   33.666667  60000.00000          88.000000
std     7.607014  13038.40481           5.966574
min    25.000000  45000.00000          78.000000
25%    28.500000  51250.00000          85.750000
50%    32.000000  57500.00000          89.000000
75%    38.500000  67500.00000          91.500000
max    45.000000  80000.00000          95.000000

In [ ]:
"""1- how big is your dataset
2- what are the names of the column


shape and columns """
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Age": [28, 34, 25, 45, 30, 40],
    "Salary": [50000, 60000, 45000, 80000, 55000, 70000],
    "Performance Score":[85,90,78,92,88,95]
}

df = pd.DataFrame(data)
print(df)
print("Shape",df.shape)
print("Column Names:",df.columns)


"""
    (10000,2)
    (5,4)
     
"""

      Name  Age  Salary  Performance Score
0    Alice   28   50000                 85
1      Bob   34   60000                 90
2  Charlie   25   45000                 78
3    David   45   80000                 92
4      Eva   30   55000                 88
5    Frank   40   70000                 95
Shape (6, 4)
Column Names: Index(['Name', 'Age', 'Salary', 'Performance Score'], dtype='object')

## Example 5

In [32]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Age": [28, 34, 25, 45, 30, 40],
    "Salary": [50000, 60000, 45000, 80000, 55000, 70000],
    "Performance Score":[85,90,78,92,88,95]
}

df = pd.DataFrame(data)

#display the dataframe
print("Sample dataFrame")
print(df)
#selecting a column
print("Names (Single column return series)")
name = df["Name"]
print(name)

# selecting multiple columns
subset = df[["Name","Salary"]]
print("\n Subset with name and Salary")
print(subset)

Sample dataFrame
      Name  Age  Salary  Performance Score
0    Alice   28   50000                 85
1      Bob   34   60000                 90
2  Charlie   25   45000                 78
3    David   45   80000                 92
4      Eva   30   55000                 88
5    Frank   40   70000                 95
Names (Single column return series)
0      Alice
1        Bob
2    Charlie
3      David
4        Eva
5      Frank
Name: Name, dtype: object

 Subset with name and Salary
      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   45000
3    David   80000
4      Eva   55000
5    Frank   70000

# Filtering Rows

In [36]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Age": [28, 34, 25, 45, 30, 40],
    "Salary": [50000, 60000, 45000, 80000, 55000, 70000],
    "Performance Score":[85,90,78,92,88,95]
}
df = pd.DataFrame(data)
high_salary = df[df["Salary"]>50000]
print("Employee with salary greater than 50000")
print(high_salary)


#Applying multiple conditions

filtered = df[(df["Age"]>30) & (df["Salary"]>50000)]
print("Employee list age > 30 + Salary > 50000")
print(filtered)

#using or condition
filtered_or = df[(df["Age"]>100) | (df["Performance Score"] >90)]
print("Employees older than 35 or perfomance score >90")
print(filtered_or)

Employee with salary greater than 50000
    Name  Age  Salary  Performance Score
1    Bob   34   60000                 90
3  David   45   80000                 92
4    Eva   30   55000                 88
5  Frank   40   70000                 95
Employee list age > 30 + Salary > 50000
    Name  Age  Salary  Performance Score
1    Bob   34   60000                 90
3  David   45   80000                 92
5  Frank   40   70000                 95
Employees older than 35 or perfomance score >90
    Name  Age  Salary  Performance Score
3  David   45   80000                 92
5  Frank   40   70000                 95